@page "/ExamList"
@layout Layout.StudentLayout
<MudContainer MaxWidth="MaxWidth.Large" Class="py-5">
    <MudTextField T="string" Placeholder="Search" Adornment="Adornment.Start" Variant="Variant.Outlined" 
                  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Immediate=true></MudTextField>

    <MudPaper Elevation="0" Style="min-height: 640px; width: 100%; margin-top: 48px">
        <MudPaper Elevation="2" Class="p-5 mb-4 w-100" Style="border-radius: 15px; border-left: 5px solid #29a69a">
            <MudGrid Class="p-0 m-0 w-100 align-items-center">
                <MudItem md="10" Class="p-0">
                    <MudText Style="font-weight: bold; font-size: 20px">Bài thi giữa kì II</MudText>
                    <MudText Style="font-weight: bold; font-size: 14px; color: #787878; margin: 10px 0">Môn: Toán 12</MudText>
                    <MudText Style="font-size: 14px; color: #787878;">Diễn ra từ ngày : 24-10-2024 12:00 PM đến 25-10-2024 12:00 AM</MudText>
                </MudItem>
                <MudItem md="2" Class="p-0">
                    <div class="w-100 d-flex justify-content-between align-items-center">
                        <MudChip T="string">Chưa mở</MudChip>
                        <MudButton Style="background-color: #29a69a; color: #fff">Chi tiết</MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </MudPaper>

        <MudPaper Elevation="2" Class="p-5 mb-4 w-100" Style="border-radius: 15px; border-left: 5px solid #29a69a">
            <MudGrid Class="p-0 m-0 w-100 align-items-center">
                <MudItem md="10" Class="p-0">
                    <MudText Style="font-weight: bold; font-size: 20px">Bài thi giữa kì II</MudText>
                    <MudText Style="font-weight: bold; font-size: 14px; color: #787878; margin: 10px 0">Môn: Toán 12</MudText>
                    <MudText Style="font-size: 14px; color: #787878;">Diễn ra từ ngày : 24-10-2024 12:00 PM đến 25-10-2024 12:00 AM</MudText>
                </MudItem>
                <MudItem md="2" Class="p-0">
                    <div class="w-100 d-flex justify-content-between align-items-center">
                        <MudChip T="string">Chưa mở</MudChip>
                        <MudButton Style="background-color: #29a69a; color: #fff">Chi tiết</MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </MudPaper>

        <MudPaper Elevation="2" Class="p-5 mb-4 w-100" Style="border-radius: 15px; border-left: 5px solid #29a69a">
            <MudGrid Class="p-0 m-0 w-100 align-items-center">
                <MudItem md="10" Class="p-0">
                    <MudText Style="font-weight: bold; font-size: 20px">Bài thi giữa kì II</MudText>
                    <MudText Style="font-weight: bold; font-size: 14px; color: #787878; margin: 10px 0">Môn: Toán 12</MudText>
                    <MudText Style="font-size: 14px; color: #787878;">Diễn ra từ ngày : 24-10-2024 12:00 PM đến 25-10-2024 12:00 AM</MudText>
                </MudItem>
                <MudItem md="2" Class="p-0">
                    <div class="w-100 d-flex justify-content-between align-items-center">
                        <MudChip T="string">Chưa mở</MudChip>
                        <MudButton Style="background-color: #29a69a; color: #fff">Chi tiết</MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudPaper>
</MudContainer>

@code {

}
