@using Testify.DAL.Models;
@using Testify.Web.Data.Commons
<MudDialog>
    <TitleContent>
        <MudText Style="font-size: 18px; font-weight: bold; text-transform: uppercase">Vô hiệu hóa lớp học</MudText>
    </TitleContent>
    <DialogContent>
        <MudText>Bạn chắc chắn muốn vô hiệu hóa lớp <span Style="font-weight: bold"> @classes?.Name</span> không?</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Surface" OnClick="Cancel">Đóng</MudButton>
        <MudButton Color="@Color.Error"  OnClick="Submit">Xóa</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private Class classes { get; set; }

    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public int ClassId { get; set; }

    MudForm form;

    protected override async Task OnInitializedAsync()
    {
        classes = await _serClass.GetClassId(ClassId);
    }

    private async Task Submit()
    {
        var check = await _serClass.DeleteClass(ClassId);
        
        if (check.Success)
        {
            MudDialog.Close(DialogResult.Ok(true));
            snackbar.Add("Xóa hóa thành công", Severity.Success);

        }
        else
        {
            if (check.ErrorCode == "PERMISSION_DENIED")
            {
                MudDialog.Close(DialogResult.Ok(true));
                snackbar.Add("Không thể xóa", Severity.Warning);
                return;
            }

            MudDialog.Close(DialogResult.Ok(true));
            snackbar.Add("Xóa không thành công", Severity.Error);
        }
    }

    private void Cancel() => MudDialog.Cancel();
}
