@using Testify.DAL.Models;
@using Testify.Web.Data.Commons;

<MudDialog>
    <TitleContent>
        <MudText Style="font-size: 18px; font-weight: bold; text-transform: uppercase">Xóa câu hỏi</MudText>
    </TitleContent>
    <DialogContent>
        <MudText>Bạn chắc chắn muốn vô hiệu hóa câu hỏi <span Style="font-weight: bold">@question?.Content</span> không?</MudText>
    </DialogContent>
    <DialogActions>

        <MudButton OnClick="Cancel">Đóng</MudButton>
        <MudButton Color="Color.Error" OnClick="Submit">Xóa</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private Question question { get; set; }

    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public int QuestionId { get; set; }

    MudForm form;

    protected override async Task OnInitializedAsync()
    {
        question = await _serQuestion.GetQuestionById(QuestionId);
    }

    private async Task Submit()
    {
        var check = await _serQuestion.DeleteQuestion(QuestionId);

        if (check.Success)
        {
            MudDialog.Close(DialogResult.Ok(true));
            snackbar.Add("Xóa hóa thành công", Severity.Success);

        }
        else
        {
            if (check.ErrorCode == "PERMISSION_DENIED")
            {
                MudDialog.Close(DialogResult.Ok(true));
                snackbar.Add("Không thể xóa", Severity.Warning);
                return;
            }

            MudDialog.Close(DialogResult.Ok(true));
            snackbar.Add("Xóa không thành công", Severity.Error);
        }
    }

    private void Cancel() => MudDialog.Cancel();
}
