@page "/result-of-submission"
<MudGrid>
    <MudItem xs="12">

    </MudItem>

    <MudItem xs="12">

        <MudGrid>

            <MudItem xs="9">
                lịch thi
            </MudItem>

            <MudItem xs="3">                
                <div class="d-flex flex-column align-center justify-center mud-width-full">
                    <div class="text-center p-2 border border-2 rounded w-50 m-2 ">
                        Bài thi Lý 123
                    </div>
                    <div>
                        <MudTabs Elevation="2" Rounded="true" PanelClass="shadow-none mt-4" >
                            <MudTabPanel Text="Kết quả" class="shadow-none">
                                <div class="d-flex flex-column">
                                    <div>
                                        <div class="d-flex justify-content-center align-items-center p-4 bg-primary rounded-top text-white">1 điểm</div>
                                    </div>
                                    <div class="d-flex flex-column rounded-bottom border-2 border-top-0 p-2" style="border-color: #D9D9D9">
                                        <div class="d-flex flex-row justify-content-between mt-3">
                                            <div>
                                                Thời gian làm bài
                                            </div>
                                            <div class="fw-bold">
                                                46 phút 12 giây
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between mt-3">
                                            <div>
                                                Nộp lúc
                                            </div>
                                            <div class="fw-bold">
                                                46 phút 12 giây
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between mt-3">
                                            <div class="d-flex">
                                                <div class="pe-1">
                                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="7.5" cy="7.5" r="7.5" fill="#008000"/>
                                                    </svg>
                                                </div>
                                                <div>
                                                    Số câu đúng
                                                </div>
                                            </div>
                                            <div class="fw-bold">
                                                46 phút 12 giây
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between mt-3">
                                            <div class="d-flex">
                                                <div class="pe-1">
                                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="7.5" cy="7.5" r="7.5" fill="#FF0000"/>
                                                    </svg>
                                                </div>
                                                <div>
                                                    Số câu sai
                                                </div>
                                            </div>
                                            <div class="fw-bold">
                                                46 phút 12 giây
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row justify-content-between mt-3">
                                            <div class="d-flex">
                                                <div class="pe-1">
                                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <circle cx="7.5" cy="7.5" r="7.5" fill="#808080"/>
                                                    </svg>
                                                </div>
                                                <div>
                                                    Chưa làm
                                                </div>
                                            </div>
                                            <div class="fw-bold">
                                                46 phút 12 giây
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fw-bold d-flex justify-content-start mt-3 mb-3">
                                        Phần bài làm
                                    </div>
                                    <div>
                                        <table class="table table-hover">
                                            <thead class="bg-opacity-25 bg-dark">
                                            <tr>
                                                <th scope="col">Câu</th>
                                                <th scope="col">Chọn</th>
                                                <th scope="col">Đáp án đúng</th>
                                                <th scope="col">Điểm</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td colspan="2">Larry the Bird</td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </MudTabPanel>
                            <MudTabPanel Text="Lịch sử" class="shadow-none">
                                <MudText>Content Two</MudText>
                            </MudTabPanel>                        
                        </MudTabs>
                    </div>

                </div>
            </MudItem>

        </MudGrid>

    </MudItem>

    <MudItem xs="12">

    </MudItem>

</MudGrid>


@code {

}
