@page "/ViewExam"

<MudPaper Elevation="0" Class="exam_main">
    <MudPaper Elevation="0" Class="exam_container">
        <MudPaper Elevation="0" Class="left_panel">
            <MudPaper Elevation="0" Class="left_panel_header">
                <MudText Class="text-white">Thời gian còn lại: ...</MudText>
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Class="text-white" OnClick="OpenRightContent"></MudIconButton>
            </MudPaper>
            <MudPaper Elevation="0" Class="left_panel_content hidden-scroll">
                @for (int i = 0; i < 10; i++)
                {
                    <MudPaper Elevation="0" Class="w-100 mb-3">
                        <MudPaper Elevation="0" Class="bg-transparent w-100" Style="border: 1px solid #c6c6c6; padding: 10px; border-radius: unset">
                            <MudText Class="fw-bold fs-5">@i. Con người đi bằng mấy chân?</MudText>
                            <MudGrid Class="mt-1">
                                <MudItem xl="6" lg="6" md="6" sm="12" xs="12">A. 4 chân</MudItem>
                                <MudItem xl="6" lg="6" md="6" sm="12" xs="12">B. 3 chân</MudItem>
                                <MudItem xl="6" lg="6" md="6" sm="12" xs="12">C. 2 chân</MudItem>
                                <MudItem xl="6" lg="6" md="6" sm="12" xs="12">D. 1 chân</MudItem>
                            </MudGrid>
                        </MudPaper>

                        <MudPaper Elevation="0" Style="background-color: #29a69a; display: flex; justify-content: left; align-items: center; gap: 15px; padding: 10px 20px; border-radius: unset; flex-wrap: wrap">
                            <MudText Class="fw-bold text-white">Đáp án: </MudText>
                            <MudPaper Elevation="0" Class="bg-transparent d-flex justify-content-start align-items-center gap-3">
                                <MudButton Class="btn btn-light rounded rounded-pill">A</MudButton>
                                <MudButton Class="btn btn-light rounded rounded-pill">B</MudButton>
                                <MudButton Class="btn btn-light rounded rounded-pill">C</MudButton>
                                <MudButton Class="btn btn-light rounded rounded-pill">D</MudButton>
                            </MudPaper>
                        </MudPaper>
                    </MudPaper>
                }
            </MudPaper>
        </MudPaper>
        <MudPaper Elevation="0" Class="right_panel_pc">
            <MudPaper Class="right_panel_header">
                <MudText Class="text-white">Thí Sinh: <span class="fw-bold">Nguyễn Văn Thị Lò A</span></MudText>
                <MudText Class="text-white">Thời gian còn lại: <span class="fw-bold">59:03</span></MudText>
            </MudPaper>
            <MudPaper Elevation="0" Class="right_panel_content">
                <MudText Class="text-center w-100 fw-bold fs-4">Cuối kì I</MudText>

                <MudPaper Elevation="0" Class="mt-4 w-100">
                    <MudPaper Class="right_panel_list_answer" Elevation="0">
                        <MudButton Class="btn_answer">1</MudButton>
                        <MudButton Class="btn_answer">2</MudButton>
                        <MudButton Class="btn_answer">3</MudButton>
                        <MudButton Class="btn_answer">4</MudButton>
                        <MudButton Class="btn_answer">5</MudButton>
                        <MudButton Class="btn_answer">6</MudButton>
                        <MudButton Class="btn_answer">7</MudButton>
                        <MudButton Class="btn_answer">8</MudButton>
                        <MudButton Class="btn_answer">9</MudButton>
                        <MudButton Class="btn_answer">10</MudButton>
                        <MudButton Class="btn_answer">11</MudButton>
                    </MudPaper>
                </MudPaper>
            </MudPaper>

            <MudPaper Elevation="0" Class="btn_submit">
                <MudGrid>
                    <MudItem xl="6" lg="6" md="12" sm="12" xs="12">
                        <MudButton Class="w-100" Style="border: 1px solid #29a69a; color: #29a69a">Rời khỏi</MudButton>
                    </MudItem>
                    <MudItem xl="6" lg="6" md="12" sm="12" xs="12">
                        <MudButton Class="w-100 text-white" Style="background-color: #29a69a">Nộp bài</MudButton>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudPaper>

        <MudPaper Elevation="0" Class="@isOpenClassMobile">
            <MudPaper Elevation="0" Class="check bg-transparent rounded-0">
                <MudButton Class="bg_black_close rounded-0" OnClick="CloseMobile"></MudButton>
                <MudPaper Elevation="0" Class="right_panel_content_mobile">
                    <MudPaper Class="right_panel_header">
                        <MudText Class="text-white">Thí Sinh: <span class="fw-bold">Nguyễn Văn Thị Lò A</span></MudText>
                        <MudIconButton Icon="@Icons.Material.Filled.Close" Class="text-white" OnClick="CloseMobile"></MudIconButton>
                    </MudPaper>
                    <MudPaper Elevation="0" Class="right_content">
                        <MudText Class="text-center w-100 fw-bold fs-4">Cuối kì I</MudText>

                        <MudPaper Elevation="0" Class="mt-4 w-100">
                            <MudPaper Class="right_panel_list_answer" Elevation="0">
                                <MudButton Class="btn_answer">1</MudButton>
                                <MudButton Class="btn_answer">2</MudButton>
                                <MudButton Class="btn_answer">3</MudButton>
                                <MudButton Class="btn_answer">4</MudButton>
                                <MudButton Class="btn_answer">5</MudButton>
                                <MudButton Class="btn_answer">6</MudButton>
                                <MudButton Class="btn_answer">7</MudButton>
                                <MudButton Class="btn_answer">8</MudButton>
                                <MudButton Class="btn_answer">9</MudButton>
                                <MudButton Class="btn_answer">10</MudButton>
                                <MudButton Class="btn_answer">11</MudButton>
                            </MudPaper>
                        </MudPaper>
                    </MudPaper>

                    <MudPaper Elevation="0" Class="btn_submit">
                        <MudGrid>
                            <MudItem xl="6" lg="6" md="12" sm="12" xs="12">
                                <MudButton Class="w-100" Style="border: 1px solid #29a69a; color: #29a69a">Rời khỏi</MudButton>
                            </MudItem>
                            <MudItem xl="6" lg="6" md="12" sm="12" xs="12">
                                <MudButton Class="w-100 text-white" Style="background-color: #29a69a">Nộp bài</MudButton>
                            </MudItem>
                        </MudGrid>
                    </MudPaper>
                </MudPaper>
            </MudPaper>
        </MudPaper>
    </MudPaper>
</MudPaper>

@code {
    private string isOpenClassMobile = "right_panel_mobile";

    private void OpenRightContent()
    {
        if (isOpenClassMobile == "right_panel_mobile")
        {
            isOpenClassMobile = "right_panel_mobile d-block";
        }
        else
        {
            isOpenClassMobile = "right_panel_mobile";
        }
    }

    private void CloseMobile()
    {
        isOpenClassMobile = "right_panel_mobile";
    }
}
