@page "/"
@layout AdminLayout

<style>
    .img-icon-listclass {
        width: 25px;
        height: 25px;
        margin-top: 15px;
    }
</style>
<div class="pt-3 ps-5" style="font-family:Roboto">
    <div class="bg-white border-1 mt-3 rounded-3" style="width:1590px; height:65px">
        <MudText Class="fw-bold pt-3 ps-4" Style="font-size:22px; color:#29A69A">LỚP HỌC</MudText>
    </div>

    <div class="bg-white border-1 rounded-3" style="width:1590px; height:100vh; margin-top:120px;">
        <div class="d-inline-flex mt-2">

            <img class=" ms-4 img-icon-listclass" style="color:#29a69a" src="https://www.svgrepo.com/show/456444/list-clipboard.svg" />

            <MudText Class="fw-bold ps-3" Style="font-size:22px; color:#29A69A; padding-top:13px;">Danh sách lớp học</MudText>


        </div>

    </div>



</div>


@code {

}
