@using Testify.DAL.Models
<div style="border-top: 1px solid #ccc">
    <MudForm Model="@answer">
        <div class="d-flex justify-content-between align-items-center">
            <MudText>Đáp án:</MudText>
            <MudCheckBox T="bool" @bind-Value="@answer.IsCorrect" Label="Đáp án đúng" @oninput="OnInputChange" />
        </div>

        <MudTextField T="string" @bind-Value="@answer.Content" Label="Nội dung câu hỏi" @onchange="OnInputChange" />
    </MudForm>
</div>

@code {
    [Parameter]
    public Answer answer { get; set; }

    [Parameter]
    public int questionId { get; set; }

    protected override async Task OnInitializedAsync()
    {
         answer.QuestionId = questionId;
    }

    [Parameter]
    public EventCallback<Answer> OnAnswerChanged { get; set; }

    private void OnInputChange(ChangeEventArgs e)
    {
        if (OnAnswerChanged.HasDelegate)
        {
            OnAnswerChanged.InvokeAsync(answer);
        }
    }
}