@page "/Register"

<div style="height: 100vh">
    <MudGrid style="padding: 0; margin: 0; width: 100%; background-color: #29A69A; height: 100%; align-items: center">
        <MudItem xl="7" lg="8" sm="12" md="12" xs="12" style="padding: 50px; margin: 0; height: 100%; width: 100%; background-color: #FFFFFF; border-bottom-right-radius: 50px; border-top-right-radius: 50px">
            <MudPaper style="box-shadow: none;">
                <MudGrid style="padding: 0; margin: 0; width: 100%">
                    <MudItem xl="2" lg="2" md="4" sm="4" xs="12" style="width: 100%; padding: 0; margin: 0">
                        <MudPaper>
                            <MudButton style="background-color: transparent; border: 1px solid #29A69A; color: #29A69A; width: 100% !important; padding: 15px">Logo</MudButton>
                        </MudPaper>
                    </MudItem>
                    <MudItem xl="2" lg="2" md="1" sm="1" xs="0" style="padding: 0; margin: 0"></MudItem>
                    <MudItem xl="2" lg="2" md="1" sm="1" xs="0" style="padding: 0; margin: 0"></MudItem>
                    <MudItem xl="2" lg="2" md="1" sm="1" xs="0" style="padding: 0; margin: 0"></MudItem>
                    <MudItem xl="2" lg="2" md="1" sm="1" xs="0" style="padding: 0; margin: 0"></MudItem>
                    <MudItem xl="2" lg="2" md="4" sm="4" xs="0" style="width: 100%; padding: 0; margin: 0">
                        <MudPaper>
                            <MudButton href="/RegisterSelector" style="background-color: transparent; border: 1px solid #29A69A; color: #29A69A; width: 100% !important; padding: 15px">Đăng Nhập</MudButton>
                        </MudPaper>
                    </MudItem>
                </MudGrid>

                <MudGrid style="align-items: center; padding: 0; margin: 0; width: 100%; height: 100%">
                    <MudItem xl="3" lg="3" md="2" sm="1" xs="12" style="padding: 0; margin: 0"></MudItem>
                    <MudItem xl="6" lg="6" md="8" sm="10" xs="12" style="padding: 0; margin: 0">
                        <div style="height: 100%; width: 100%">
                            <MudItem xs="12" style="text-align: center;">
                                <MudText Typo="Typo.h5" style="font-weight: bold;">Đăng ký tài khoản Testify của bạn</MudText>
                            </MudItem>
                            <MudText style="font-weight: bold; margin-top: 15px">Thông tin cá nhân</MudText>
                            <MudItem xs="12" style="width: 100%;">
                                <MudTextField T="string" Placeholder="Họ Tên" Variant="Variant.Outlined" style="height: 50px; border-radius: 10px; padding-left: 10px;" />
                            </MudItem>
                            <div class="d-flex justify-space-between">
                                <MudItem xs="12" sm="6" style="width: 48%;">
                                    <MudTextField T="string" Placeholder="Lớp" Variant="Variant.Outlined"
                                                  style="height: 50px; border-radius: 10px; padding-left: 10px;" />
                                </MudItem>
                                <MudItem xs="12" sm="6" style="width: 48%; margin-left: 10px;">
                                    <MudTextField T="string" Placeholder="Ngày sinh" Variant="Variant.Outlined"
                                                  style="height: 50px; border-radius: 10px; padding-left: 10px;" />
                                </MudItem>
                            </div>
                            <div class="d-flex justify-space-between">
                                <MudItem xs="12" sm="4" style="width: 32%;">
                                    <MudTextField T="string" Placeholder="Tỉnh/ Thành Phố" Variant="Variant.Outlined"
                                                  style="height: 50px; border-radius: 10px; padding-left: 10px;" />
                                </MudItem>
                                <MudItem xs="12" sm="4" style="width: 32%; margin-left: 5px;">
                                    <MudTextField T="string" Placeholder="Quận/ Huyện" Variant="Variant.Outlined"
                                                  style="height: 50px; border-radius: 10px; padding-left: 10px;" />
                                </MudItem>
                                <MudItem xs="12" sm="4" style="width: 32%; margin-left: 5px;">
                                    <MudTextField T="string" Placeholder="Phường/ Xã" Variant="Variant.Outlined"
                                                  style="height: 50px; border-radius: 10px; padding-left: 10px;" />
                                </MudItem>
                            </div>
                            <MudText style="font-weight: bold; margin-top: 15px">Thông tin tài khoản</MudText>
                            <MudItem xs="12" style="width: 100%;">
                                <MudTextField T="string" Placeholder="Số điện thoại" Variant="Variant.Outlined"
                                              style="height: 50px; border-radius: 10px; padding-left: 10px;" />
                            </MudItem>
                            <MudItem xs="12" style="width: 100%;">
                                <MudTextField T="string" Placeholder="Email" Variant="Variant.Outlined"
                                              style="height: 50px; border-radius: 10px; padding-left: 10px;" />
                            </MudItem>
                            <MudItem xs="12" style="width: 100%;">
                                <MudTextField T="string" Placeholder="Mật khẩu" Variant="Variant.Outlined"
                                              style="height: 50px; border-radius: 10px; padding-left: 10px;" />
                            </MudItem>
                            <MudItem xs="12" style="width: 100%;">
                                <MudTextField T="string" Placeholder="Xác nhận mật khẩu" Variant="Variant.Outlined"
                                              style="height: 50px; border-radius: 10px; padding-left: 10px;" />
                            </MudItem>
                            <MudItem xs="12" style="text-align: center; margin-top: 10px;">
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" style="height: 50px; width: 100%;">Đăng ký</MudButton>
                            </MudItem>
                            <div class="d-flex align-items-center justify-content-center" style="margin: 20px 0;">
                                <MudDivider style="width: 45%; border-width: 2px; background-color: black;" Color="Color.Dark" />
                                <MudText Class="mx-2" style="padding: 0 10px; color: black;">Hoặc</MudText>
                                <MudDivider style="width: 45%; border-width: 2px; background-color: black;" Color="Color.Dark" />
                            </div>
                            <div class="d-flex justify-space-between">
                                <MudItem xs="12" sm="6" style="width: 48%;">
                                    <MudButton Variant="Variant.Outlined" style="height: 50px; border-radius: 5px; padding-left: 15px; width: 100%;">
                                        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 40 40" width="25" height="25">
                                        <linearGradient id="a" x1="-277.375" x2="-277.375" y1="406.6018" y2="407.5726" gradientTransform="matrix(40 0 0 -39.7778 11115.001 16212.334)" gradientUnits="userSpaceOnUse">
                                        <stop offset="0" stop-color="#0062e0" />
                                        <stop offset="1" stop-color="#19afff" />
                                            </linearGradient>
                                        <path fill="url(#a)" d="M16.7 39.8C7.2 38.1 0 29.9 0 20 0 9 9 0 20 0s20 9 20 20c0 9.9-7.2 18.1-16.7 19.8l-1.1-.9h-4.5l-1 1z" />
                                        <path fill="#fff" d="M26.8 24.3 28 17.7h-5.8v-4.3c0-1.8.9-3.5 3.8-3.5h2.9v-5c-.5-.1-2.2-.3-4.2-.3-4.3 0-7.1 2.6-7.1 7.2v5H12v6.5h5.6v15.5c1.1.2 2.3.3 3.4.3 1.1 0 2.3-.1 3.4-.3V24.3h2.4z" />
                                        </svg>
                                        <span style="margin-left: 15px;">Facebook</span>
                                    </MudButton>
                                </MudItem>
                                <MudItem xs="12" sm="6" style="width: 48%; margin-left: 10px;">
                                    <MudButton Variant="Variant.Outlined" style="height: 50px; border-radius: 5px; padding-left: 15px; width: 100%;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="25" height="25">
                                            <path fill="#EA4335" d="M37.2 20.4c0-1.2-.1-2.3-.3-3.4H20v6.5h9.6c-.4 2.1-1.5 3.9-3.2 5.1v4.2h5.2c3-2.8 4.6-6.9 4.6-12.4z" />
                                            <path fill="#4285F4" d="M20 39c4.7 0 8.6-1.6 11.5-4.3l-5.2-4.2c-1.6 1.1-3.7 1.7-6.2 1.7-4.8 0-8.8-3.2-10.3-7.5H4.3v4.6C7.2 34.4 13.1 39 20 39z" />
                                            <path fill="#FBBC05" d="M9.7 24.7C9.3 23.6 9 22.3 9 21s.3-2.6.7-3.7V12.7H4.3C3.1 15 2.5 17.5 2.5 20s.6 5 1.8 7.3l4.7-2.6z" />
                                            <path fill="#34A853" d="M20 7.5c2.6 0 4.9.9 6.8 2.7l5-5C28.6 2.4 24.7.8 20 .8 13.1.8 7.2 5.4 4.3 12.7l5.4 4.6c1.5-4.2 5.5-7.3 10.3-7.3z" />
                                            <path fill="none" d="M2.5 2.5h35v35h-35z" />
                                        </svg>
                                        <span style="margin-left: 15px;">Google</span>
                                    </MudButton>
                                </MudItem>
                            </div>
                        </div>
                    </MudItem>
                    <MudItem xl="3" lg="3" md="2" sm="1" xs="12" style="padding: 0; margin: 0"></MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
        <MudItem xl="5" lg="4" md="0" sm="0" xs="0" style="padding: 0; margin: 0; height: 100%; width: 100%; background-color: transparent">
            <MudGrid style="align-items: center; height: 100%; width: 100%; padding: 0; margin: 0">
                <MudItem xl="2" lg="2" md="0" sm="0" xs="0"></MudItem>
                <MudItem xl="8" lg="8" md="12" sm="12" xs="12">
                    <MudPaper Elevation="0" Class="w-100 " Style="background-color: transparent; height: 100%;">
                        <MudImage Style="width: 100%" Src="Asset/image/ResetPassword/ResetPasswprd.png" />
                    </MudPaper>
                </MudItem>
                <MudItem xl="2" lg="2" md="0" sm="0" xs="0"></MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</div>

@code {

}
