@page "/ResetPassword"

<div style="height: 100vh;">
    <MudGrid style="padding: 0; margin: 0; width: 100%; background-color:#29A69A; height: 100%; align-items: center">
		<MudItem xl="7" lg="8" sm="12" md="12" xs="12" style="padding: 50px; margin: 0; height: 100%; width: 100%; background-color: #FFFFFF; border-bottom-right-radius: 50px; border-top-right-radius: 50px">
            <MudPaper style="box-shadow: none;">
                <MudGrid Style="padding: 0; margin: 0; width: 100%">
					<MudItem xl="2" lg="2" md="4" sm="4" xs="12" Style="width: 100%; padding: 0; margin: 0">
						<MudPaper>
							<MudButton Style="background-color: transparent; border: 1px solid #29a69a; color: #29a69a; width: 100% !important; padding: 15px">Logo</MudButton>
						</MudPaper>
					</MudItem>
					<MudItem xl="2" lg="2" md="1" sm="1" xs="0" Style="padding: 0; margin: 0"></MudItem>
					<MudItem xl="2" lg="2" md="1" sm="1" xs="0" Style="padding: 0; margin: 0"></MudItem>
                    <MudItem xl="2" lg="2" md="1" sm="1" xs="0" Style="padding: 0; margin: 0"></MudItem>
					<MudItem xl="2" lg="2" md="1" sm="1" xs="0" Style="padding: 0; margin: 0"></MudItem>
					<MudItem xl="2" lg="2" md="4" sm="4" xs="0" Style="width: 100%; padding: 0; margin: 0">
						<MudPaper>
							<MudButton Href="/RegisterSelector" Style="background-color: transparent; border: 1px solid #29a69a; color: #29a69a; width: 100% !important; ; padding: 15px">Đăng Nhập</MudButton>
						</MudPaper>
					</MudItem>
                </MudGrid>

                <MudGrid style="align-items: center; padding: 0; margin: 0; width: 100%; height: 100%">
					<MudItem xl="3" lg="3" md="2" sm="1" xs="12" Style="padding: 0; margin: 0"></MudItem>
					<MudItem xl="6" lg="6" md="8" sm="10" xs="12" Style="padding: 0; margin: 0">
                        <div style="height: 100%; width: 100%">
                            <MudText Typo="Typo.h4" Class="text-center mb-4">Nhập mật khẩu mới</MudText>
                            <MudTextField T="string" Placeholder="Mật khẩu mới" Variant="Variant.Outlined" Class="mb-3" Style="width: 100%"></MudTextField>
							<MudTextField T="string" Placeholder="Nhập lại mật khẩu" Variant="Variant.Outlined" Class="mb-3" Style="width: 100%"></MudTextField>
                            <MudButton Variant="Variant.Filled" Class="confirm-button" Style="background-color: #29A69A; color: #FFFFFF; width: 100%; padding: 10px">Xác nhận</MudButton>
                        </div>
                    </MudItem>
					<MudItem xl="3" lg="3" md="2" sm="1" xs="12" Style="padding: 0; margin: 0"></MudItem>
                </MudGrid>
            </MudPaper>
        </MudItem>
        <MudItem xl="5" lg="4" sm="0" md="0" xs="0" style="padding: 0; margin: 0; height: 100%;">
            <MudGrid style="align-items: center; height: 100%; width: 100%; padding: 0; margin: 0">
                <MudItem xl="2" lg="2" md="0" sm="0" xs="0"></MudItem>
                <MudItem xl="8" lg="8" md="12" sm="12" xs="12">
                    <MudPaper Elevation="0" Class="w-100 " Style="background-color: transparent; height: 100%;">
                        <MudImage Style="width: 100%" Src="Asset/image/ResetPassword/ResetPasswprd.png" />
                    </MudPaper>
                </MudItem>
                <MudItem xl="2" lg="2" md="0" sm="0" xs="0"></MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</div>





@code {

}
