@using Testify.API.DTOs
@inject ExamService examService
@inject ExamDetailService examDetailService
@inject ExamDetailQuestionService examDetailQuestionService
<MudDialog>
    <TitleContent>
        <MudText Style="font-size: 18px; font-weight: bold; text-transform: uppercase">Xóa bài thi</MudText>
    </TitleContent>
    <DialogContent>
        Bạn có chắc chắn muốn xoá bài thi <span Style="font-weight: bold"> @NameLL</span> không?
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Surface" OnClick="Cancel">Đóng</MudButton>
        <MudButton Color="@Color.Error" OnClick="DeleteExcute">Xóa</MudButton>
    </DialogActions>
</MudDialog>

@code {
    private List<ExamWhitQusetion> _lst = new List<ExamWhitQusetion>();
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public int Id { get; set; }
    [Inject] ISnackbar Snackbar { get; set; }
    private List<ExamDetail> lisDThi = new List<ExamDetail>();
    private void Cancel() => MudDialog.Cancel();
    private string NameLL = "";

    private async Task DeleteExcute()
    {
        var stats = await examService.DeleteExam(Id);

        if (stats.Success)
        {
            MudDialog.Close(DialogResult.Ok(true));
            snackbar.Add("Xóa hóa thành công", Severity.Success);

        }
        else
        {
            if (stats.ErrorCode == "PERMISSION_DENIED")
            {
                MudDialog.Close(DialogResult.Ok(true));
                snackbar.Add("Không thể xóa", Severity.Warning);
                return;
            }

            MudDialog.Close(DialogResult.Ok(true));
            snackbar.Add("Xóa không thành công", Severity.Error);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        lisDThi = (await examDetailService.GetExamDetailByExamId(Id))
            .Where(x => x.Status != 255)
            .ToList();
        _lst = await examService.GetInforBasic(null);
        var nameL = _lst.FirstOrDefault(x => x.Id == Id);
        NameLL = nameL.ExamName;
    }
}
